@import '../../../Style/variables';
@import '../../../Style/mixin';

.bet_record_table{
    margin-bottom: 20px;
    .b_r_top{
        @include lh(35px);
        @include sc(14px,#fff);
        text-align: center;
        background: #8D887B;
    }

}

