@import '../../../Style/variables';
@import '../../../Style/mixin';

$border-color: #B2B2B2;

.team_list{
    color: #363636;
    font-size: 14px;
    .team_list_top{
        padding: 30px 20px 13px;
        border-bottom: 1px solid #ccc;
        .t_l_time{
            padding-bottom: 10px;
            .t_m_date_classify{
                display: inline-block;
                margin-left: 30px;
            }
            .t_l_time_row{
                @include lh(30px);
                margin-bottom: 12px;
                li{
                    float: left;
                }
                li:first-child{
                    margin-left: 15px;
                }
                .l_b_user_name{
                    box-sizing: border-box;
                    border: 1px solid $border-color;
                    padding: 3px 5px;
                    @include lh(30px);
                    margin-left: 8px;
                    width: 130px;
                }
                .l_b_balance{
                    border: 1px solid $border-color;
                    @include lh(30px);
                    padding: 3px 5px;
                    width: 70px;
                }
                .t_m_serch{
                    height: 30px;
                    margin-left: 12px;
                    &:hover{
                        cursor: pointer;
                    }
                }
            }

        }
    }
    .t_l_table{
        background-color: #F4F4F4;
        padding: 0 8px 50px;
        .t_l_location_name{
            @include lh(50px);
        }
        .t_l_table_list{
            border: 1px solid #ccc;
            background-color: #fff;
            padding: 5px;
        }
    }
    .ant-table-expanded-row{
        td:first-child{
            background-color: #ECFEFF;
        }
        td:last-child{
            padding: 0;
        }
    }
    .t_l_child_table{
        tr{
            background-color: #ECFEFF;
        }
    }
    .ant-input{
        @include borderRadius(0);
        border: 1px solid $border-color;
        height: 30px;
    }
}
.t_l_prompt{
    background-color: #bbb;
    padding: 5px;
    @include borderRadius(2px);
}
.t_l_active{
    box-sizing: border-box;
    height: 28px;
    border:1px solid #CB1313 !important;
    color:#CB1313;
    background: #FFF5F5 url('./Img/time_active.png') no-repeat right bottom;
}
