$nav_width_1200: 1200px;
$content-top: 11px;
$nav-background: #ccc;
$nav-background-color: #1B1B21; // header_nav，footer背景色
$rodio-check-color: #CB1313;
$background-color: #4A4A5F;
$color_363636: #363636;
$color_CF2027: #CF2027;
$background-color-F4F4F4: #F4F4F4;
$border-bottom-color: #D6D6D6;
