@import '../../../Style/variables';
@import '../../../Style/mixin';


$nav-height: 80px;
$menus-top: 25px;
$hover-color: #FFDB70;
.nav{
    width: 100%;
    background: $nav-background-color;
    .nav-content{
        @include wh($nav_width_1200, $nav-height);
        margin: 0 auto;
        .logo{
            //vertical-align: middle;
            margin-top: 7.5px;
        }
        .menus {
            position: relative;
            float: right;
            padding-top: $menus-top;
            font-size: 14px;
        }
    }
    .nav-text{
        height: ($nav-height)-($menus-top)-3;
        text-align: center;
        p{
            line-height: 20px;
        }
        p:nth-child(2){
            font-size: 10px;
            color: #868686;
        }
        a{
            width: 96px;
            height: 52px;
            display: inline-block;
            color: #fff;
            &:hover{
                p{
                    color: $hover-color;
                }
            }
        }
    }

    .ant-menu-item:hover, .ant-menu-item-active, .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-submenu-active, .ant-menu-submenu-title:hover {
        color: $hover-color;
    }
    .ant-dropdown-link{
        color: #fff;
    }
    .ant-menu-horizontal{
        border: 0;
    }
    .ant-menu{
        background: $nav-background-color;
        color: #fff;
    }

    .ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-submenu:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu-active, .ant-menu-horizontal > .ant-menu-item-open, .ant-menu-horizontal > .ant-menu-submenu-open, .ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected{
        border-bottom: 3px solid $hover-color;
        color: $hover-color;
    }
    .ant-menu-item, .ant-menu-submenu-title{
        padding: 0;
    }
    .ant-menu-submenu-horizontal, .ant-menu-submenu{
        .ant-menu{
            background: rgba(27,27,33,.8);
            color: #fff;
        }
    }
    //.c_p_game{
    //    .ant-menu-submenu-horizontal > .ant-menu{
    //        width: $nav_width_1200;
    //        left: -600px;
    //    }
    //    .ant-menu-item-group{
    //        float: left;
    //    }
    //}
}


