@import '../../../Style/variables';
@import '../../../Style/mixin';


$nav-height: 80px;
$menus-top: 25px;
$hover-color: #FFDB70;
$width_100: 100%;

.nav_top{
    @include wh($width_100, 40px);
    line-height: 40px;
    background: #A30404;
    font-size: 14px;
    .nav_top_content{
        width: $nav_width_1200;
        margin: 0 auto;
        color: #fff;
        a{
            color: #fff;
        }
    }
    .n_t_lt{
        padding-left: 25px;
        background: url(./Img/notice_icon.png) no-repeat center left;
    }
    .n_t_list>li{
        padding: 0 15px;
        float: left;
        border-left: 1px solid #770000;
        &:hover{
            background: #770000;
        }
        &:last-child{
            border-right: 1px solid #770000;
        }
    }
    .n_t_list{
        .n_t_position{
            position: relative;
            &:hover .n_t_controler{
                height: 180px;
                transition: height .3s;
                -moz-transition: height .3s; /* Firefox 4 */
                -webkit-transition: height .3s; /* Safari 和 Chrome */
                -o-transition: height .3s; /* Opera */
            }
        }
        .n_t_controler{
            position: absolute;
            top: 40px;
            left: -77px;
            z-index: 99999;
            height: 0;
            overflow: hidden;
        }
        .n_t_drop_down{
            padding-top: 10px;
            .n_t_down_list{
                @include wh(300px, 168px);
                border: 1px solid #FFDB70;
                background-color: #1D1D26;
                color: #D0D0D0;
                padding: 8px 12px 0;
                &:before{
                    @include icon_arrows_bg(5px,140px,#FFDB70,10px,#1D1D26,-45deg);
                }
                li{
                    @include lh(31px);
                    border-bottom: 1px dotted #7A7A7E;
                    &:hover{
                        cursor: auto;
                    }
                    &:last-child{
                        border-bottom: 0;
                        cursor: pointer;
                    }
                }
                .n_t_exit{
                    width: 80px;
                    margin: 0 auto;
                    padding-left: 20px;
                    background: url(./Img/exit_icon.png) no-repeat center left;
                }
                .color_DFC674{
                    color: #DFC674;
                }
            }
        }
        .n_t_cursor:hover{
            cursor: pointer;
        }
        .n_t_cursor_color:hover{
            cursor: pointer;
            color: #FFDB70;
        }
        .n_t_message{
            width: 80px;
        }
        .ant-badge-count{
            @include lh(17px);
            padding: 0 4px;
            background:#1E1E1E;
            box-shadow: none;
            -webkit-transform: translateX(-10%);
            -ms-transform: translateX(-10%);
            transform: translateX(-10%);
        }
        .n_t_balance{
            color: #FFDB70;
            i{
                font-style: normal;
            }

        }
        .n_t_hide_balance{
            padding: 0 5px;
            &:hover{
                cursor: pointer;
            }
        }
    }
     .anticon-caret-down{
         font-size: 12px;
         color: #610000;
    }
}
.nav{
    @include wh($width_100, $nav-height);
    background: $nav-background-color;
    .nav-content{
        width: $nav_width_1200;
        margin: 0 auto;
        .logo{
            //vertical-align: middle;
            margin-top: 7.5px;
        }
        .menus {
            position: relative;
            float: right;
            padding-top: $menus-top;
            font-size: 14px;
        }
    }
    .nav-text{
        height: ($nav-height)-($menus-top)-3;
        text-align: center;
        p{
            line-height: 20px;
        }
        p:nth-child(2){
            font-size: 10px;
            color: #868686;
        }
        a{
            width: 96px;
            height: 52px;
            display: inline-block;
            color: #fff;
            &:hover{
                p{
                    color: $hover-color;
                }
            }
        }
    }

    .ant-menu-item:hover, .ant-menu-item-active, .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-submenu-active, .ant-menu-submenu-title:hover {
        color: $hover-color;
    }
    .ant-dropdown-link{
        color: #fff;
    }
    .ant-menu-horizontal{
        border: 0;
    }
    .ant-menu{
        background: $nav-background-color;
        color: #fff;
    }

    .ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-submenu:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu-active, .ant-menu-horizontal > .ant-menu-item-open, .ant-menu-horizontal > .ant-menu-submenu-open, .ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected{
        border-bottom: 3px solid $hover-color;
        color: $hover-color;
    }
    .ant-menu-item, .ant-menu-submenu-title{
        padding: 0;
    }
    .ant-menu-submenu-horizontal, .ant-menu-submenu{
        .ant-menu{
            background: rgba(27,27,33,.8);
            color: #fff;
        }
    }
    //.c_p_game{
    //    .ant-menu-submenu-horizontal > .ant-menu{
    //        width: $nav_width_1200;
    //        left: -600px;
    //    }
    //    .ant-menu-item-group{
    //        float: left;
    //    }
    //}
}



