@import '../../../Style/variables';
@import '../../../Style/mixin';

.left_sider{
    margin-top: $content-top;
    width: 50px;
    .ant-menu-submenu-vertical > .ant-menu-submenu-title:after{
        content: '';
    }
    .ant-menu-item, .ant-menu-submenu-title{
        padding:8px 0 0 0;
        text-align: center;
    }
}
