@import '../../../Style/variables';
@import '../../../Style/mixin';


.marke_k_main{
    padding: 0 15px 20px;
    .marke_k_main_top{
        padding-bottom: 10px;
        border-bottom: 1px dotted #85888D;
    }
    .marke_k_list{
        margin: 50px 0 30px 100px;
        li{
            margin: 12px 0;
            color:#363636;
            font-size: 14px;
            @include lh(35px);
        }
        li:last-child{
            margin-top: 35px;
        }
        .inputText{
            color: #797979;
            margin-left: 12px;
            strong{
                font-weight: normal;
                color:#D70000;
            }
        }
        .marke_k_register_link{
            border: 1px solid $rodio-check-color;
            @include borderRadius(2px);
            li{
                float:left;
                @include lh(30px);
                margin: 0;
                padding: 0 20px;
                &:hover{
                    cursor: pointer;
                }
            }
            .register_link_active{
                background-color: $rodio-check-color;
                color:#fff;
            }
        }
        .m_k_slider{
            display: inline-block;
            height: 32px;
            li{
                margin: 0 5px;
                float: left;
                line-height: 32px;
            }
            //.m_k_minus_add{
            //    @include wh(20px, 20px);
            //    line-height: 18px;
            //    border: 1px solid #C8C8C8;
            //    @include borderRadius(3px);
            //    margin-top: 5.5px;
            //    background-color: #fff;
            //    text-align: center;
            //    &:hover{
            //        cursor: pointer;
            //    }
            //}
        }
    }
    .marke_k_left{
        display: inline-block;
        width: 110px;
        text-align: left;
        padding-right: 17px;
    }
    .ant-input {
        width: 236px;
    }
    .marke_k_register_site{
        margin: 20px 0 15px;
        color: #363636;
    }
    .t_l_table_list{
        border: 1px solid #ccc;
        background-color: #fff;
        padding: 8px 5px;
    }
    .ant-btn-lg{
        padding: 4px 26px 5px 26px;
    }
    .ant-slider{
        border-top: 4px solid #F4F4F4;
        border-bottom: 4px solid #F4F4F4;
        background-color: #A9A9A9;
    }
}
